<h1 class="text-center">Editing Group</h1>

<%= render 'form', group: @group %>
<div class="container">
<%= link_to 'Show', @group, class:"btn btn-outline-secondary" %> |
<%= link_to 'Back', groups_path, class:"btn btn-outline-secondary"  %>
</div>
