<div class="title-wrapper">
  <h1 class="text-center">New Group</h1>
</div>
<%= render 'form', group: @group %>
<div class="container">
<%= link_to 'Back', groups_path, class:"btn btn-outline-secondary" %>
</div>
