<div class="title-wrapper">
<h1 class="text-center">About this Website</h1>
</div>
<div class="container text-center">
<h4><strong>海外で働いてみたい</strong></h4>
<h5>その思いを持ちながら、なかなか一歩が踏み出せない人に向けて何かできないか、</h5>
<h5>そう思ったのがきっかけで、各国の友人に声を掛けて出来たのがこのサイトです。</h5>
<h5>海外の就職活動がスムーズに出来るようになることを念頭に、プログラムを作りました。</h5>
<h5>海外就職活動のノウハウとそれに向けた英語力の養成が本プログラムの柱です。</h5>
<h5>願わくば、一人でも多くの日本人が海外で働く夢を叶えてくれたら、嬉しい限りです。</h5>
</div>
