<div class="title-wrapper">
<h1 class="text-center">About this Website</h1>
</div>
<div class="container text-center">
<p>「少しでもその国の言語を話せたらな」、旅をする度に思いました。</p>
<p>一言挨拶できるだけで、レストランで注文ができるだけで旅は何倍も楽しくなる。</p>
<p>そう思ったのがきっかけで、各国の友人に声を掛けて出来たのがこのサイトです。</p>
<p>旅先ですぐに使える言語の習得をしやすい様に、プログラムを作りました。</p>
<p>これからもどんどん言語を増やして、また自分ももっと学んで行きたい。</p>
<p>皆さんと一緒に学んで行けたらなと思います。</p>
<p>管理人</p>
</div>
