<div class="title-wrapper">
<h1 class="text-center">About AB Portal</h1>
</div>

<div class="container text-center">
  <h2><strong>海外で働いてみたい</strong></h2>
  <div class='about-content'>
    <p>その思いを持ちながら、なかなか一歩が踏み出せない人に向けて何かできないか、</p>
    <p>そう思ったのがきっかけで、各国の友人に声を掛けて出来たのがこのサイトです。<p>
    <p>海外の就職活動で夢を叶えることができるように、プログラムを作りました。<p>
    <p>海外就職活動のノウハウとそれに向けた英語力の養成が本プログラムの柱です。<p>
    <p>願わくば、一人でも多くの日本人が海外で働く夢を叶えてくれたら、嬉しい限りです。<p>
  </div>
</div>
