<div class="title-wrapper">
  <h1 class='text-center'>ダッシュボード</h1>
</div>

<div class="completed-courses">
<% current_user.quizzes.each do |quiz| %>
<%= quiz.id %>
<% end %>
</div>

<div class="title-wrapper home-subtitle">
  <h2 class="text-center">学習分野</h2>
</div>
<div class="container">
  <div class="dashboard-wrapper">


  <div class="row">
    <div class="top-icon col-3 text-center">
      <a href="/categories/1" class="link-no-effect"><i class="fas fa-search fa-9x icon-black"></i></a></br>
    仕事探し
    </div>

    <div class="top-icon col-3 text-center">
      <a href="/categories/2" class="link-no-effect"><i class="fas fa-file-alt fa-9x icon-black"></i></a></br>
    レジュメ作成
    </div>

    <div class="top-icon col-3 text-center">
      <a href="/categories/3" class="link-no-effect"><i class="fas fa-handshake fa-9x icon-black"></i></a></br>
    面接
    </div>

    <div class="top-icon col-3 text-center">
      <a href="/categories/4" class="link-no-effect"><i class="fas fa-briefcase fa-9x icon-black"></i></a></br>
    その他
    </div>
  </div>

  </div>
</div>
