<h1 class="text-center">Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<!-- Button trigger modal -->
<div class="mx-auto">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Signin/ Signup
  </button>
</div>
