<div class="title-wrapper">
  <h1 class="text-center">Welcome to Traveller</h1>
</div>


<div class="top-content-wrapper container">

  <div class="top-top row">
    <div class="top-left col-6 text-center">
      <h3>Hello World!</h3>
      <p class="top-message">I’m a travel blogger who has been abroad since June 2014!</p>
      <p class="top-message">A Broken Backpack Travel Blog is all about long-term travel.</p>
      <p class="top-message">From super cheap trips to luxury travel, let’s make it happen!</p>
    </div>
    <div class="top-right col-6 text-center"><img src="/mex.jpg" class="top-img"></div>
  </div>


  <div class="row">

    <div class="top-icon col-3 text-center">
      <a href="/blogs" class="link-no-effect"><i class="fas fa-map-marker-alt fa-9x icon-black"></i></a></br>
    Learn Spanish
    </div>

    <div class="top-icon col-3 text-center">
      <a href="/blogs" class="link-no-effect"><i class="fas fa-map-marker-alt fa-9x" style="color:blue;"></i></a></br>
    Learn English
    </div>

    <div class="top-icon col-3 text-center">
      <a href="/blogs" class="link-no-effect"><i class="fas fa-map-marker-alt fa-9x" style="color:blue;"></i></a></br>
    Learn Korean
    </div>

    <div class="top-icon col-3 text-center">
      <a href="/blogs" class="link-no-effect"><i class="fas fa-map-marker-alt fa-9x" style="color:blue;"></i></a></br>
    Learn Chinese
    </div>


  </div>
  <!-- Button trigger modal -->
  <div class="title-wrapper">
  <h2 class="text-center">Signup for free</h2>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Signup
    </button>
  </div>

</div>
