// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

img {
    height:200px;
    object-fit: cover;
}

img:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}


.card-body {
    position: relative;
}


.right {
  //text-align: right;
  margin: 0 0 0 auto;
}

.blog-btn {
  margin-left:10px;
}

.link-no-effect {
 color:white;
 background-color:white;
}


.link-no-effect :hover{
   background-color:white;
 color:white;
}

.top-content-wrapper {
  padding-bottom: 100px;
}

.top-top {
  padding-bottom: 100px;
}

.top-img {
  width:100%;
  height:100%;
}

.top-message{
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-black {
  color:#e54747;
}

.icon-black:hover {
  color:black;
}

.blog-content-wrapper {
  padding-bottom: 50px;
}

.blog-table-wrapper {
  padding-bottom: 80px;
}
