// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-content-wrapper {

  padding-bottom: 100px;
  margin-bottom:100px;
}

.category-btn {
  padding-bottom: 50px;
}
