// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.document-image img{
  width: 85px;
  height: 56px;
}

.align-center {
      margin: 0 auto;
}


.fa-arrow-alt-circle-left {
  color:rgba(255, 0, 0, 0.5)
}

.fa-arrow-alt-circle-right {
  color:rgba(255, 0, 0, 0.5)
}
.carousel-control-next:hover{
  background-color: rgba(1,1,1,0);
}
.carousel-control-prev:hover{
  background-color: rgba(1,1,1,0);
}


// .carousel {
//     background-color: #ddd;
// }
