// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html body{
  font-family: 'M PLUS 1p',sans-serif;
}

.dashboard-wrapper {
  padding-bottom: 100px;
}

.home-top {
  padding-top: 30px;
  padding-bottom: 40px;
}
.home-top h1 {
  line-height:160%;
  font-size: 3.0em;
  margin-bottom: 20px;
}
.home-bottom-modal {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.home-subtitle {
    padding-top: 30px;
    padding-bottom: 40px;
}

.oth-info {
padding-bottom: 50px;
}

.answer-btn {
  text-align: center;
  padding-top:40px;
}

.btn-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-content {
  padding-top:30px;
}

.about-content p{
  font-size: 1.2em;
  line-height:300%;
}

.login-wrapper{
  margin: 0 auto;
  width: 50%;
}

.login-link {
  font-weight: bold;
}

.price-title{
  font-size: 2em;
}
.price-text {
  font-size: 1.5em;
}
.price-small-text {
  font-size: 1.2em;
}

.login-bg {
  background-image: url("/nyc.jpg");
  object-fit: contain;
  padding-bottom:150px;
}

.alter-wrapper {
  margin-top: 60px;
}

.learning-unit a:hover{
  text-decoration: none;
  background-color: white;
  box-shadow:3px 3px 6px rgba(0,0,0,0.5);
  color: black;
}
