<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blogs/users">ブログ一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">© ABポータル 2020</a>
    </li>

  </ul>
</nav>
